 body {
      color: white;
      background-color: black;
      font-family: verdana;
      display: block;
      margin: 8px;
      text-align: center;
    }
    h1 {
      font-size: 50px;\
    }

    a {
      color: #96ead9;
      display: block;
    }

    video {
      display : block;
      margin: auto;
    }

    h2 {
      color: gray;
    }
    img {
      display: block;
      margin: auto;
      vertical-align: center;
    }